{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="w-75 mx-auto mb-3">Register</h1>

    <div class="w-75 m-auto">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-dark">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
